.no-js #loader { display: none;  }		
.js #loader { display: block; position: absolute; left: 100px; top: 0; }		
.se-pre-con {		
	position: fixed;		
	left: 0px;		
	top: 0px;		
	width: 100%;		
	height: 100%;		
	z-index: 9999;		
    opacity: 0.7;		
	background: url(../images/loading.gif) center no-repeat #FFF;		
			
} 