config.php
id_rsa*
test.php
*.log
_logs\*
_logs/*
*@eaDir
@eaDir/
_logs/okovision.log
_logs\okovision.log
Thumbs.db
import.csv
_tmp/import.csv
_tmp\import.csv
*.csv
_logs/okovision.log
_tmp/import.csv